---
import { useSanityClient } from "@sanity/astro";
import "@fontsource/inika/400.css";
import "@fontsource/inika/700.css";

import BasicSection from "../components/BasicSection.astro";
import LinkButton from "../components/LinkButton.astro";

const posts = await useSanityClient().fetch(`*[_type == "post"]`);

import { Image } from "astro:assets";
import oneAtATime from "../images/mega-creator.svg";
import values from "../images/illust/Values.svg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div slot="hero" class="text-3xl lg:text-5xl lg:max-w-5xl py-12">
    <h1 class="font-serif antialiased leading-tight">
      A <span class="font-semibold">collective, brokerage,</span> and <span
        class="font-semibold">marketplace</span
      >
       for all of your <span class="underline underline-offset-4 text-ggyellow-primary"
        >digital design</span
      > needs.
    </h1>

    <div class="mt-6 flex flex-col md:flex-row justify-center gap-4 lg:gap-8">
      <LinkButton destination="#">Get Started</LinkButton>
      <LinkButton destination="#">Join Our Community</LinkButton>
    </div>

    <div class="custom-shape-divider-bottom-1698805543">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none">
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <BasicSection background="yellow">
    <h2 class="text-3xl max-w-[32rem] font-serif antialiased">
      We're empowering the <span
        class="underline underline-offset-2 decoration-2 font-bold text-purple-950"
        >community,</span
      > one problem at a time.
    </h2>
    <ul class="text-lg list-disc list-inside marker:text-[#370E3D] my-4">
      <li>Ensuring the financial security of transactions</li>
      <li>Promoting professional services</li>
      <li>Collectivizing artistic resources</li>
    </ul>
    <p class="text-lg max-w-[32rem]">
      Okay, so what if it's three problems? Sue us. We embrace challenges and turn them
      into opportunities for greater success.
    </p>
    <Image
      src={oneAtATime}
      alt="3 people side by side."
      slot="content"
      class="w-full h-full max-w-md -my-12"
    />
  </BasicSection>

  <div class="bg-white min-h-[14rem] w-full py-12 px-16 max-md:px-2">
    <h1
      class="font-serif antialiased font-bold text-3xl text-ggviolet-primary text-center">
      We've made lots (and lots) of clients happy.
    </h1>
    <div
      class="flex flex-row flex-wrap justify-center gap-16 text-lg w-full px-14 mt-8 max-md:px-2">
      <img class="max-md:w-1/4" src="https://placehold.jp/150x150.png" />
      <img class="max-md:w-1/4" src="https://placehold.jp/150x150.png" />
      <img class="max-md:w-1/4" src="https://placehold.jp/150x150.png" />
      <img class="max-md:w-1/4" src="https://placehold.jp/150x150.png" />
      <img class="max-md:w-1/4" src="https://placehold.jp/150x150.png" />
    </div>
  </div>

  <BasicSection sectionTitle="Our Vision + Values">
    <p class="max-w-[32rem] text-lg">
      We do what we do because we believe in the artists' potential. We believe in their
      dreams, in their resilience, and in their capacity to mold the world around us with
      their creativity. We exist to provide a platform that fosters growth, nurtures
      talent, and paves the way for a more inclusive and accessible art community. Because
      every artist deserves a chance, every idea deserves to be heard, and every creative
      impulse deserves to be nurtured.
    </p>
    <Image
      src={values}
      alt="3 people side by side."
      slot="content"
      class="w-full h-full max-w-md scale-[.8]"
    />
  </BasicSection>

  <div class="bg-[#370E3D] min-h-[26rem] w-full py-12">
    <div class="text-lg text-[#FFEEC3] px-32 max-md:px-8 max-md:text-center">
      <h2 class="text-4xl max-w-[32rem] max-md:max-w-none font-serif antialiased">
        We're think we're pretty great, and these folks agree.
      </h2>
    </div>

    <div
      class="mt-8 flex flex-row flex-wrap justify-center gap-16 gap-y-8 max-md:flex-col">
      <div class="bg-white max-w-[24rem] px-12 py-6 rounded-2xl max-md:mx-auto">
        <h3 class="text-xl font-bold">Swag Master</h3>
        <p class="text-lg after:content-['★_★_★_★_★'] text-yellow-400"></p>
        <p class="">
          aodnao oa dwa ohuaoda ouwdan d awda dawasdsasd asdpij aidjw adw awdad ijjasdij
          ligma wigma sigma
        </p>
      </div>
      <div class="bg-white max-w-[24rem] px-12 py-6 rounded-2xl max-md:mx-auto">
        <h3 class="text-xl font-bold">Swag Master</h3>
        <p class="text-lg after:content-['★_★_★_★_★'] text-yellow-400"></p>
        <p class="">
          aodnao oa dwa ohuaoda ouwdan d awda dawasdsasd asdpij aidjw adw awdad ijjasdij
          ligma wigma sigma
        </p>
      </div>
      <div class="bg-white max-w-[24rem] px-12 py-6 rounded-2xl max-md:mx-auto">
        <h3 class="text-xl font-bold">Swag Master</h3>
        <p class="text-lg after:content-['★_★_★_★_★'] text-yellow-400"></p>
        <p class="">
          aodnao oa dwa ohuaoda ouwdan d awda dawasdsasd asdpij aidjw adw awdad ijjasdij
          ligma wigma sigma
        </p>
      </div>
    </div>
  </div>
</BaseLayout>

<style is:global>
  .hero {
    background-color: #221124;
    background: url("../images/illust/index.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .custom-shape-divider-bottom-1698805543 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1698805543 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 77px;
  }

  .custom-shape-divider-bottom-1698805543 .shape-fill {
    fill: #fff8e5;
  }
</style>
