---
import { Image } from "astro:assets";

---

<div
  class="w-1/3 bg-white border border-gray-200 rounded-lg">
  <a href="#">
    <Image class="rounded-t-lg" src="https://placehold.jp/400x300.png" width={400} height={300} alt="" />
  </a>

  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-black">
        Artist X
      </h5>
    </a>
    <p class="mb-3 font-normal">Contracted Artist</p>
    <a
      href="#"
      class="px-3 py-2 mx-auto text-xl font-medium text-center text-ggviolet-secondary font-serif">
      View Bio
    </a>
  </div>
</div>
