---
interface Props {
  sectionTitle?: string;
  background?: "white" | "yellow";
  subtitle?: string;
  reversed?: boolean;
}

const { sectionTitle, background = "white", subtitle, reversed = false } = Astro.props;
---

<section
  class=`${background == "white" ? "bg-white" :"bg-ggyellow-highlight" } flex ${reversed ? "lg:flex-row-reverse" : "lg:flex-row"} py-12 lg:py-24 px-12 lg:px-16 justify-center items-center align-middle gap-y-8 lg:gap-[8vw] w-full ${reversed ? "flex-col-reverse" : "flex-col"}`>
  <div class="flex-col max-w-lg lg:w-1/2 w-full min-h-[12rem] my-auto antialiased">
    {
      sectionTitle && (
        <h2 class="text-4xl text-ggviolet-primary font-serif font-bold mb-2">
          {sectionTitle}
        </h2>
      )
    }
    {
      subtitle && (
        <h3 class="text-lg mb-2 leading-snug text-ggyellow-quarternary">{subtitle}</h3>
      )
    }
    <p class="text-lg">
      <slot />
    </p>
  </div>
</section>
